@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Noto+Serif:wght@400;700&family=Inter:wght@400;700&family=IBM+Plex+Sans+Thai:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Utility Classes for Buttons */
.btn-primary {
  @apply h-12 gap-[10] rounded text-center text-base font-semibold leading-4 text-white;
}
/*เหลือใส่ font gap-[10]*/

.btn-secondary {
  @apply h-12 gap-[10] rounded border bg-white text-center text-base font-semibold leading-4 text-white;
}

.btn-ghost {
  @apply h-12 gap-[10] rounded text-center text-base font-semibold leading-4 text-white;
}
